/* Removed the redundant words from the CSS selectors' names. 
   - Consolidated some properties under common selectors to avoid redundancies.
   - Changed order of selectors to reflect the flow of the HTML document.
   - Updated classes and id names to reflect changes in the HTML document.
   - Changed single-use elements' selectors from class to id. */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;

}


body {
    background-color: #d9dcd6;
}

/*This controls the style of the main header.*/

#main-header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

/* This is the style for "seo" letters in the header logotype, to make them stand out with different color"*/

#mark-grey {
    color: #d9dcd6;
}

/* This controls the style of the top navigation menu*/

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}


li {
    display: inline-block;
    margin-left: 25px;
}

.top-nav-link {
    color: #ffffff;
    text-decoration: none;
}

/*CSS of the header previously included an image. I moved it from to HTML to include an alt tag.*/

#top-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/*This controls the style of the main content of the page. 
I changed multiple selectors' names for better semantics and to avoid redundancies*/

#main-content-container {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.main-text {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;

}

.main-image_left {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

.main-image_right {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}

/*This controls the style of the side bar. 
I changed multiple selectors' names for better semantics and to avoid redundancies*/

#side-bar {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

.sidebar-text {
    margin-bottom: 32px;
    color: #ffffff;
}

.sidebar-icon {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*This controls the style of the footer. 
I changed the selector name for better semantics.*/


footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h4 {
    font-size: 20px;
}